*{
  padding: 0;
  margin: 0;

}
.wrapper{
  background: url(BlueBackground.png) no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar{
  height: 100px;
  width: 100%;
  background: rgba(0,0,0,0.4);

}
.logo{
  float: left;
  width: 160px;
  height: auto;

}
.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  font-family: 'Roboto', sans-serif;
  transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: orange;
    border-radius: 2px;
}



.container{
  width: 100%;
  margin-top: 10%;
  font-family: Roboto;
  letter-spacing: 1px;

}

h2{
  background: #0062cc;
  color: #fff;
  width: 200px;
  font-size: 24px;
  padding: 5px;
  height: 40px;
}

h2::after{
  content: '';
  border-top: 40px solid  #0062cc;
  border-right: 40px solid transparent;
  position: relative;
  left: 48px;
  top: 34px;
}
.row{
  margin-top: 30px;
}
img{
  width: 300px;
  justify-content: center;
}
.product-bottom{
  margin: 0 auto;
  text-align: center;
}
.product-bottom .fa{
  color: #28a745;
  font-size: 10px;
}
.product-bottom h3{
  font-size: 20px;
  font-weight: bold;
}

.product-bottom h5{
  font-size: 15px;
  padding-bottom: 10px;
}

.product-top{
  width: 100%;
}

.flex{
  display: flex;
  justify-content: center;
}
